.m-form {
  height: 27rem;
  width: 25rem;
  padding: 2.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);

  &__input {
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    &--error {
      font-size: 1.2rem;
      color: $color-primary-red;
    }
  }
}
