.m-navbar {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  color: $color-base-white;
  z-index: $zindex-navbar;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  @include flexSpaceBetween;

  &--login {
    margin-top: 2rem;
    background: transparent;
  }

  &--dashboard {
    margin-top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, rgba(202, 173, 173, 0.2) 58%);
  }

  &__Left {
    max-width: 60%;
    min-width: 20%;
    height: 100%;
    @include flexSpaceBetween;
    align-items: center;

    @include sp {
      max-width: 40%;
      min-width: 20%;
      margin-right: 2rem;
    }

    &--logo {
      margin-left: 4rem;

      @include sp {
        margin-left: 0.5rem;
      }
    }

    &--items {
      width: 50%;
      margin-left: 4rem;
      display: flex;
      justify-content: space-evenly;

      @include sp {
        margin-left: 2rem;
      }

      &-home,
      &-myList {
        list-style-type: none;
        margin-left: 1rem;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;

        @include sp {
          font-size: 12px;
        }
      }
    }
  }

  &__Right {
    position: relative;
    margin-right: 2rem;

    &--dropdown {
      position: absolute;
      top: 4.5rem;
      right: 0;
      height: 3rem;
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      border-radius: 10px;
      background-color: rgba(57, 16, 153, 0.761);
      cursor: pointer;

      &:hover {
        background-color: rgba(23, 6, 65, 0.761);
      }
      &:active {
        margin-top: 0.2rem;
      }
    }
  }
}
