$breakpoint-extra-large-pc: 1440px;
$breakpoint-large-pc: 1280px;
$breakpoint-small-pc: 1024px;
$breakpoint-sp: 768px;

/**
    Breakpoints:
    ------------
    sm: min-width: 640px; //small device
    md: min-width: 768px; //medium device
    lg: min-width: 1024px; //large device
    xl: min-width: 1280px; //extra large device
    2xl: min-width: 1536px; //2x extra large device
**/
