.o-modal {
  $root: &;

  position: fixed;
  top: 100%;
  left: 0;
  z-index: $zindex-modal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  pointer-events: none;
  background-color: $color-base-pitch-black;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  transform: translateY(128px);

  & > #{$root}__window {
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    max-height: 100%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

    // padding: 40px 0;
    padding-bottom: 40px;

    // overflow: hidden;
    background-color: #292323;
    border-radius: 16px;
    transition: transform 0.3s ease-out;
    transition-delay: 0.4s;
    transform: translateY(100%);

    @include sp {
      border-radius: 6px;
    }
  }

  &--opened {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transform: translateY(-100%);

    & > #{$root}__window {
      transition: transform 0.3s ease-in-out;
      transform: translateY(0);
    }
  }

  &--fullscreen {
    padding: 2rem 3rem 3rem 2rem;
    background-color: $color-base-pitch-black;

    & > #{$root}__window {
      min-width: auto;
      max-width: none;
      height: 100%;
      max-height: none;
      padding-top: 0;

      & > #{$root}__body {
        max-width: none;
        padding: 5rem 2rem 0 2rem;

        @include sp {
          padding-right: 20px;
          padding-left: 20px;
        }
      }
    }
  }

  &--form {
    & > #{$root}__window {
      max-width: 480px;
    }
    #{$root}__body {
      @include pc {
        overflow: unset;
      }
    }
  }

  &--medium {
    & > #{$root}__window {
      max-width: 880px;
    }
  }

  &--maximum {
    & > #{$root}__window {
      max-width: none;
    }
  }

  &--has-footer {
    & > #{$root}__window {
      padding-bottom: 0;
    }
  }

  &__close-button {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 10;
    cursor: pointer;
    border: none;
    background: transparent;

    @include pc {
      &:hover {
        .a-icon {
          @include sprite-icon-active;
        }
      }
    }

    #{$root}--fullscreen & {
      top: 1.1rem;
      right: 1.5rem;

      @include sp {
        top: 20px;
      }

      .a-icon {
        width: 32px;
        height: 32px;

        @include sp {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__resize-button {
    position: absolute;
    top: 1.5rem;
    right: 5rem;
    z-index: 10;
    cursor: pointer;
    border: none;
    background: transparent;

    #{$root}--fullscreen & {
      top: 1.1rem;

      @include sp {
        top: 20px;
      }

      .a-icon {
        width: 32px;
        height: 32px;

        @include sp {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    padding: 56px 15px 0;
    overflow: auto;

    @include sp {
      padding-top: 36px;
      overflow-y: scroll;
    }

    #{$root}--fullscreen & {
      position: relative;
      max-width: 840px;
      padding-top: 43px;
      padding-right: 20px;
      padding-left: 20px;
      margin: 0 auto;

      @include sp {
        padding-top: 60px;
      }
    }

    .o-modal__description {
      margin-bottom: 16px;
    }
  }

  &__footer {
    z-index: 0;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 24px;
    max-height: 120px;
    overflow: hidden;

    #{$root}--fullscreen & {
      display: none;
    }
  }

  &--separate {
    #{$root}__body,
    #{$root}__window {
      padding: 0;
      @include pc {
        margin-top: 0; // overwrite body margin top
      }
    }
    #{$root}__body {
      overflow: hidden;
      @include sp {
        margin-top: 56px;
      }
    }
  }
}
