.p-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/static/images/netflix-background.jpg');
}

.m-navbar {
  margin-top: 2rem;
  background: transparent;
}

.m-navbar__Left--items,
.m-navbar__Right {
  display: none;
}
